# Example API Base URL for Vite
VITE_API_BASE_URL=https://workwise-production-3941.up.railway.app/api/

# Reverb / Laravel Echo config
VITE_REVERB_APP_KEY=6kpnd1ngdjnarkabljfo
VITE_REVERB_HOST=workwise-reverb-production.up.railway.app
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=https
