# Example API Base URL for Vite
VITE_API_BASE_URL=https://nontelepathically-pamphletary-cyndi.ngrok-free.dev/

# Reverb / Laravel Echo config
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=
VITE_REVERB_PORT=
VITE_REVERB_SCHEME=