# Example API Base URL for Vite
VITE_API_BASE_URL=https://workwise-production-3941.up.railway.app/api/

# Reverb / Laravel Echo config
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=
VITE_REVERB_PORT=
VITE_REVERB_SCHEME=
